.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 8%;

    background-image:
        linear-gradient(-30deg,
            rgba(128, 0, 255, 0.95) 0%,
            rgba(90, 0, 180, 0.92) 40%,
            rgba(11, 7, 18, 0.85) 70%,
            rgba(0, 0, 0, 0.95) 100%),
        url("../assets/images/milky-way-full-stars-space.jpg");

    background-size:
        cover,
        120% auto;

    background-position:
        left center,
        right center;

    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    animation: cosmicOrbit 60s linear infinite;
}

.hero-overlay {
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, #ff00ff, transparent 70%);
    filter: blur(100px);
    border-radius: 50%;
    opacity: 0.6;
    animation: float 8s ease-in-out infinite alternate;
}

.hero-content {
    position: absolute;
    left: 0;
    max-width: 900px;
    padding: 20px;
    z-index: 2;
    margin-left: 5%;
}

.hero-subtitle {
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-title {
    font-size: 6rem;
    color: #ffb703;
    margin-top: -15px;
    padding-bottom: 10px;
}

.hero-description {
    font-size: 1.1rem;
    color: #f5ece1;
    margin-top: 20px;
    line-height: 1.2;
}

.hero-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.btn-primary {
    border-radius: 8px;
    background: linear-gradient(135deg, #ff00ff, #8000ff);
    color: #fff;
    box-shadow: 0 4px 12px rgba(128, 0, 255, .5);
    text-decoration: none;
    font-weight: 600;
    padding: 1rem 2rem;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #8000ff, #ff00ff);
    transform: translateY(-3px);
}

.btn-secondary {
    border-radius: 8px;
    background: #ffb703;
    color: #0f051e;
    box-shadow: 0 4px 12px rgba(255, 183, 3, .5);
    padding: 1rem 2rem;
    transition: .3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.btn-secondary:hover {
    background: #fb8500;
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(251, 133, 0, .6);
}

@keyframes cosmicOrbit {
    0% {
        background-position:
            right center,
            80% 50%;
    }

    25% {
        background-position: 83% 49%;
    }



    50% {
        background-position:
            right center,
            80% 46%;
    }


    75% {
        background-position: 77% 47%;
    }


    100% {
        background-position:
            right center,
            80% 50%;
    }
}

@media (max-width: 900px) {
    .hero {
        background-size: cover, 200% auto;
    }

    .hero-subtitle {
        color: white;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    .hero-title {
        color: #ffb703;
        margin-top: 5px;
        padding-bottom: 10px;
    }

}