.hero {
    height: 100vh;
    background: radial-gradient(circle at top left, #ff00ff, transparent 50%),
        radial-gradient(circle at bottom right, #8000ff, transparent 50%),
        linear-gradient(135deg, #1a0033, #0f051e);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    position: relative;
    overflow: hidden;
}
.hero-overlay {
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, #ff00ff, transparent 70%);
    filter: blur(100px);
    border-radius: 50%;
    opacity: 0.6;
    animation: float 8s ease-in-out infinite alternate;
}
.hero-content {
    position: absolute;
    left: 0;
    max-width: 900px;
    padding: 20px;
    z-index: 2;
    margin-left: 5%;
}

.hero-subtitle {
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-title {
    font-size: 6rem;
    color: #ffb703;
    margin-top: -15px;
    padding-bottom: 10px;
}

.hero-description {
    font-size: 1.1rem;
    color: #f5ece1;
    margin-top: 20px;
    line-height: 1.2;
}

.hero-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.btn-primary {
    border-radius: 8px;
    background: linear-gradient(135deg, #ff00ff, #8000ff);
    color: #fff;
    box-shadow: 0 4px 12px rgba(128, 0, 255, .5);
    text-decoration: none;
    font-weight: 600;
    padding: 1rem 2rem;
    transition: .3s  all ease-in-out;
    cursor: pointer;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #8000ff, #ff00ff);
    transform: translateY(-3px);
}

.btn-secondary {
    border-radius: 8px;
    background: #ffb703;
    color: #0f051e;
    box-shadow: 0 4px 12px rgba(255, 183, 3, .5);
    padding: 1rem 2rem;
    transition: .3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.btn-secondary:hover {
    background: #fb8500;
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(251, 133, 0, .6);
}