.home-section {
  padding: 70px 10%;
  color: white;
}

/* SEO INTRO */
.seo-intro {
  background: #0f051e;
  display: flex;
  width: 100%;
  padding: 150px;
}

.line {
  width: .1em;
  border-radius: 50px;
  height: 150px;
  background-color: #ffb703;
  margin: 0 50px 0 50px;
}

.welcom-title{
  color: #ffb703;
  text-align: end;
  padding-right: 2rem;
  width: 40%;
}
.welcom-title h1{
  font-size: 2.5rem;
}
.welcom-title h2{
  font-size: 1.5rem;
  margin-top: .5em ;
}

.welcome-content{
  width: 60%;
  font-size: 1rem;
  text-align: start;
}


/* MOTIVE */
.motive {
  background: #1a0033;
  color: #e9d5ff;
  width: 100%;
  display: flex;
  padding: 150px;
}

.moto-content{
  width: 50%; 
  padding-top: 100px;
  padding-right: 60px;
  text-align: end;
}
.moto-content h1{
  color: #e9d5ff;
  font-weight: 700;
  font-size: 3rem;

}
.moto-content h2{
  color: #ffb703;
  padding-bottom: 1em;

}
.moto-content p {
  line-height: 1.5;
  font-size: 1.1rem;
}


.moto-img{
  width: 50%;
  background-image: url(/src/assets/images/falcon.jpg);
  background-size: cover ;
  background-position: 0 -120px;
  height: 600px;
  border: 1px solid #ffb703;
  padding: 0 50px 0 50px ;
  border-radius: 50px;
}

/* SERVICES OVERVIEW */
.services-overview {
  background: #0f051e;
  width: 100%;
  text-align: center;
}
.services-overview h1{
  padding: 80px 80px 0 80px;
  font-size: 3rem;
}
.services-overview h3{
  color: #ffb703;
  font-size: 1.2em;
}

.cards{
  display: flex;
  padding: 50px 0 50px 0;
}

.card{
  height: 500px;
  width: 30%;
  /* border: 2px solid #ffb703; */
  margin: 0 50px 50px 0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform .3s;
  background: #e9d5ff;
  color: #0f051e;
}

.card h2{
  padding-bottom: 10px;
  padding-top: 20px;
  transition: all .3s ease-in-out;
}

.card li{
  list-style: none;
  line-height: 2;
  font-size: .8em;
  cursor: pointer;
}

.img{
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background: #000;
  padding-bottom: 20px;
  color: rgb(74, 72, 72);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
}

/* .card-2 h2, .card-3 h2{
  margin-bottom: 50px;
} */

.card:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card:hover h2{
  color: #fb8500;
}
/* WHY CHOOSE US */
.why-us {
  background: #1a0033;
}

.why-us h2 {
  color: #ffb703;
  display: inline;
  font-size: 3em;
}

.why-us ul {
  line-height: 2;
}

.why-us-content{
  padding: 50px;
  text-align: center;
  line-height: 1.5;
  color: #ffca44;
  font-size: 1.1em;
}


/* FINAL CTA */
.final-cta {
  background: #0f051e;
  text-align: center;
}

.final-cta p{
  color: #ffca44;
}
.final-cta h2{
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 3rem;
}

.cta-btn {
  display: inline-block;
  background: #ffb703;
  color: #0f051e;
  padding: 14px 30px;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 20px;
  font-weight: 700;
}

.cta-btn:hover {
  background: #fb8500;
}