header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 20px 100px;
    z-index: 1000000;
}

header.sticky {
    padding: 5px 100px;
    background: #0f051e7e;

}

header.sticky img{
    opacity: 0;
}

/* .navbar {
    position: absolute;
     width: 100%;
    height: 50px;
    color: white;
    display: flex;
    background: transparent;

  } */

.nav-logo {
    width: 50%;
}

.nav-logo img{
    height: 40px;
    width: auto;
}


nav {
    width: 100%;
    margin-right: auto;
}

.nav-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 20%;
    margin-right: 10%;
    gap: 2rem;
}

.nav-list a {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #f5ece1;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    transition: .3s ease-in-out;
}

.nav-list a:hover {
    /* color: #e000d9; */
    font-weight: bolder;
    font-size: 1.2rem;
    /* transform: translateY(-3px); */

    background: linear-gradient(135deg, #ff00ff, #8000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 0 8px rgba(255, 0, 255, .3);
    scroll-behavior: smooth;
}

@media (max-width: 900px) {
    header{
        display: none;
    }
}